body {
  background: #eee; }

/* #patient-reg-table table
{
    margin: 0 auto;
    text-align: left;
    align: left;
} */
table {
  margin: 0 auto; }

.registration-form-header {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-family: Tahoma, "Time New Roman"; }

.patient-view-header {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-family: Tahoma, "Time New Roman"; }

#patient-btn-table {
  margin: 0 auto;
  text-align: left;
  width: 100%; }

#patient-reg-pcp-table {
  margin: 0 auto;
  text-align: left; }

.eVal {
  font-family: ligurnio;
  color: #ff0000; }

#state {
  font-size: 12px;
  width: 175px; }

.patient-search-criteria-table {
  border: 2px solid gray; }

td {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px; }

th {
  border-bottom: 1px solid black; }

.patient-info-label {
  font-family: Tahoma, "Time New Roman";
  font-size: 15px;
  font-color: #3797B6; }

.patient-info-data {
  font-family: Tahoma, "Time New Roman";
  font-size: 15px;
  font-color: #3797B6;
  font-weight: bold; }

.search-terms-patient {
  margin-top: 10px; }

